body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #030025;  /*001e30*/
    color: white;
    text-align: center;
    padding: 1px 0;
}

header h1 {
    font-size: 3em;
    margin: 0;
}

header p {
    font-size: 1.5em;
    margin: 0;
}

nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c1c1c;  /*1c1c1c*/
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin: 0;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.language-select {
    margin-left: auto; /* Damit die Schaltfl채che nach rechts r체ckt */
    background-color: white;
    color: #333;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

nav a:hover, .language-select:hover {
    background-color: #ddd;
    color: black;
}

section {
    padding: 60px 20px;
    min-height: 200px;
}

.game-section {
    margin-bottom: 40px;
}

.game-section h2 {
    color: #004d40;
    border-bottom: 2px solid #004d40;
    padding-bottom: 10px;
}

.game-section p {
    font-size: 1.1em;
    margin-top: 10px;
}

footer {
    background-color: #004d40;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    margin: 0;
}

.download-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
}

.download-btn:hover {
    background-color: #45a049;
}

/* Container f체rs Zentrieren */
.center-container {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.center-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

/* F체r Bildschirme mit weniger als 600px Breite (z.B. Smartphones) */
@media only screen and (max-width: 600px) {
    img {
        width: 100%;  /* Bilder sollen die volle Breite des Containers einnehmen */
    }
}